In [1]:
#dependencies
import pandas as pd
from sqlalchemy import create_engine

In [16]:
#importing dataset 1
csv_file = "assets/data/carbon_dioxide_dataset.csv"
carbon_dioxide_df = pd.read_csv(csv_file)
carbon_dioxide_df.head()

,Year,Months,Decimal Date,average,interpolated,trend (season corr),#days
0,1958,3,1958.208,315.71,315.71,314.62,-1
1,1958,4,1958.292,317.45,317.45,315.29,-1
2,1958,5,1958.375,317.50,317.50,314.71,-1
3,1958,6,1958.458,-99.99,317.10,314.85,-1
4,1958,7,1958.542,315.86,315.86,314.98,-1

In [3]:
#importing dataset 2
csv_file = "assets/data/global sealevel.csv"
sea_level_df = pd.read_csv(csv_file)
sea_level_df.head()

,altimeter type 0=dual-frequency 999=single frequency (ie Poseidon-1),merged file cycle #,year+fraction of year (mid-cycle),number of observations,number of weighted observations,GMSL (Global Isostatic Adjustment (GIA) not applied) variation (mm) with respect to 20-year TOPEX/Jason collinear mean reference,standard deviation of GMSL (GIA not applied) variation estimate (mm),smoothed (60-day Gaussian type filter) GMSL (GIA not applied) variation (mm) with respect to 20-year mean,GMSL (Global Isostatic Adjustment (GIA) applied) variation (mm) ) with respect to 20-year mean,standard deviation of GMSL (GIA applied) variation estimate (mm),11 smoothed (60-day Gaussian type filter) GMSL (GIA applied) variation (mm) ) with respect to 20-year mean,smoothed (60-day Gaussian type filter) GMSL (GIA applied) variation (mm); annual and semi-annual signal removed ) with respect to 20-year mean
0,0,11,1993.011526,466462,337277.00,-37.24,92.66,-37.02,-37.24,92.66,-37.02,-37.55
1,0,12,1993.038692,460889,334037.31,-40.35,95.39,-38.20,-40.34,95.39,-38.19,-38.06
2,0,13,1993.065858,472123,342416.09,-40.17,92.29,-38.28,-40.16,92.29,-38.27,-37.60
3,0,14,1993.093025,421377,306050.59,-41.92,96.20,-38.56,-41.89,96.19,-38.54,-37.45
4,0,15,1993.120191,459548,331094.09,-36.89,94.64,-37.87,-36.85,94.63,-37.83,-36.44

In [4]:
#importing dataset 3
csv_file = "assets/data/Zonal_annual_means.csv"
zonal_annual_means_df = pd.read_csv(csv_file)
zonal_annual_means_df.head()

,Year,Glob,NHem,SHem,24N-90N,24S-24N,90S-24S,64N-90N,44N-64N,24N-44N,EQU-24N,24S-EQU,44S-24S,64S-44S,90S-64S
0,1880,-0.16,-0.27,-0.05,-0.35,-0.13,-0.02,-0.80,-0.43,-0.26,-0.16,-0.10,-0.04,0.05,0.63
1,1881,-0.08,-0.16,0.00,-0.32,0.10,-0.07,-0.90,-0.40,-0.18,0.10,0.11,-0.05,-0.07,0.56
2,1882,-0.10,-0.19,-0.01,-0.28,-0.05,0.01,-1.40,-0.23,-0.11,-0.05,-0.05,0.01,0.04,0.59
3,1883,-0.16,-0.26,-0.07,-0.31,-0.16,-0.01,-0.18,-0.52,-0.22,-0.17,-0.15,-0.04,0.07,0.46
4,1884,-0.28,-0.41,-0.15,-0.58,-0.15,-0.14,-1.28,-0.62,-0.44,-0.13,-0.16,-0.19,-0.02,0.61

In [25]:
#transforming dataset 1
new_carbon_dioxide_df=carbon_dioxide_df.rename(columns={"average ": "Average"})

In [26]:
carbon_dioxide_df = new_carbon_dioxide_df[['Year', 'Months', 'interpolated', 'Average', 'trend (season corr)']]
carbon_dioxide_df

     Year  Months  interpolated  Average  trend (season corr)
0    1958       3        315.71   315.71               314.62
1    1958       4        317.45   317.45               315.29
2    1958       5        317.50   317.50               314.71
3    1958       6        317.10   -99.99               314.85
4    1958       7        315.86   315.86               314.98
..    ...     ...           ...      ...                  ...
741  2019      12        411.76   411.76               412.44
742  2020       1        413.39   413.39               413.07
743  2020       2        414.11   414.11               413.26
744  2020       3        414.51   414.51               413.02
745  2020       4        416.21   416.21               413.38

[746 rows x 5 columns]

In [ ]:
#transforming dataset 2

sea_level_df=sea_level_df.rename(columns={"average ": "Average"})