In [1]:
#dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#importing dataset 1
csv_file = "assets/data/carbon_dioxide_dataset.csv"
carbon_dioxide_df = pd.read_csv(csv_file)
carbon_dioxide_df.head()

,Year,Months,Decimal Date,average,interpolated,trend (season corr),#days
0,1958,3,1958.208,315.71,315.71,314.62,-1
1,1958,4,1958.292,317.45,317.45,315.29,-1
2,1958,5,1958.375,317.50,317.50,314.71,-1
3,1958,6,1958.458,-99.99,317.10,314.85,-1
4,1958,7,1958.542,315.86,315.86,314.98,-1

In [3]:
#importing dataset 2
csv_file = "assets/data/global sealevel.csv"
sea_level_df = pd.read_csv(csv_file)
sea_level_df.head()

,altimeter type 0=dual-frequency 999=single frequency (ie Poseidon-1),merged file cycle #,year+fraction of year (mid-cycle),number of observations,number of weighted observations,GMSL (Global Isostatic Adjustment (GIA) not applied) variation (mm) with respect to 20-year TOPEX/Jason collinear mean reference,standard deviation of GMSL (GIA not applied) variation estimate (mm),smoothed (60-day Gaussian type filter) GMSL (GIA not applied) variation (mm) with respect to 20-year mean,GMSL (Global Isostatic Adjustment (GIA) applied) variation (mm) ) with respect to 20-year mean,standard deviation of GMSL (GIA applied) variation estimate (mm),11 smoothed (60-day Gaussian type filter) GMSL (GIA applied) variation (mm) ) with respect to 20-year mean,smoothed (60-day Gaussian type filter) GMSL (GIA applied) variation (mm); annual and semi-annual signal removed ) with respect to 20-year mean
0,0,11,1993.011526,466462,337277.00,-37.24,92.66,-37.02,-37.24,92.66,-37.02,-37.55
1,0,12,1993.038692,460889,334037.31,-40.35,95.39,-38.20,-40.34,95.39,-38.19,-38.06
2,0,13,1993.065858,472123,342416.09,-40.17,92.29,-38.28,-40.16,92.29,-38.27,-37.60
3,0,14,1993.093025,421377,306050.59,-41.92,96.20,-38.56,-41.89,96.19,-38.54,-37.45
4,0,15,1993.120191,459548,331094.09,-36.89,94.64,-37.87,-36.85,94.63,-37.83,-36.44

In [4]:
#importing dataset 3
csv_file = "assets/data/Zonal_annual_means.csv"
zonal_annual_means_df = pd.read_csv(csv_file)
zonal_annual_means_df.head()

,Year,Glob,NHem,SHem,24N-90N,24S-24N,90S-24S,64N-90N,44N-64N,24N-44N,EQU-24N,24S-EQU,44S-24S,64S-44S,90S-64S
0,1880,-0.16,-0.27,-0.05,-0.35,-0.13,-0.02,-0.80,-0.43,-0.26,-0.16,-0.10,-0.04,0.05,0.63
1,1881,-0.08,-0.16,0.00,-0.32,0.10,-0.07,-0.90,-0.40,-0.18,0.10,0.11,-0.05,-0.07,0.56
2,1882,-0.10,-0.19,-0.01,-0.28,-0.05,0.01,-1.40,-0.23,-0.11,-0.05,-0.05,0.01,0.04,0.59
3,1883,-0.16,-0.26,-0.07,-0.31,-0.16,-0.01,-0.18,-0.52,-0.22,-0.17,-0.15,-0.04,0.07,0.46
4,1884,-0.28,-0.41,-0.15,-0.58,-0.15,-0.14,-1.28,-0.62,-0.44,-0.13,-0.16,-0.19,-0.02,0.61

In [5]:
#transforming dataset 1
new_carbon_dioxide_df = carbon_dioxide_df.rename(columns={"average ": "Average", "trend (season corr)": "trend_season_corr"})

In [6]:
carbon_dioxide_df = new_carbon_dioxide_df[['Year', 'Months', 'interpolated', 'Average', 'trend_season_corr']]
carbon_dioxide_df = carbon_dioxide_df[carbon_dioxide_df['Average'] > 0]
carbon_dioxide_df.head()
# carbon_dioxide_df.dtypes

   Year  Months  interpolated  Average  trend_season_corr
0  1958       3        315.71   315.71             314.62
1  1958       4        317.45   317.45             315.29
2  1958       5        317.50   317.50             314.71
4  1958       7        315.86   315.86             314.98
5  1958       8        314.93   314.93             315.94

In [7]:
#transforming dataset 2

# new_sea_level_df = sea_level_df.rename(columns={"average ": "Average"})

sea_level_df = sea_level_df[['year+fraction of year (mid-cycle)', 'number of observations', 
                                 'GMSL (Global Isostatic Adjustment (GIA) not applied) variation (mm) with respect to 20-year TOPEX/Jason collinear mean reference',
                                'standard deviation of GMSL (GIA not applied) variation estimate (mm)',
                                'standard deviation of GMSL (GIA applied) variation estimate (mm)',
                                'GMSL (Global Isostatic Adjustment (GIA) applied) variation (mm) )  with respect to 20-year mean'
                                ]]
sea_level_df

,year+fraction of year (mid-cycle),number of observations,GMSL (Global Isostatic Adjustment (GIA) not applied) variation (mm) with respect to 20-year TOPEX/Jason collinear mean reference,standard deviation of GMSL (GIA not applied) variation estimate (mm),standard deviation of GMSL (GIA applied) variation estimate (mm),GMSL (Global Isostatic Adjustment (GIA) applied) variation (mm) ) with respect to 20-year mean
0,1993.011526,466462,-37.24,92.66,92.66,-37.24
1,1993.038692,460889,-40.35,95.39,95.39,-40.34
2,1993.065858,472123,-40.17,92.29,92.29,-40.16
3,1993.093025,421377,-41.92,96.20,96.19,-41.89
4,1993.120191,459548,-36.89,94.64,94.63,-36.85
...,...,...,...,...,...,...
995,2020.052432,480291,44.99,97.91,100.91,52.41
996,2020.079524,288360,47.87,97.45,100.23,55.29
997,2020.106616,52754,41.19,100.84,103.30,49.06
998,2020.133708,476471,47.61,98.02,100.66,54.95
999,2020.160800,478893,46.98,97.86,100.46,54.50

In [8]:
new_sea_level_df = sea_level_df.rename(columns={'year+fraction of year (mid-cycle)': 'Year', 
                                                'number of observations': 'Number_of_Observations',
                                               'GMSL (Global Isostatic Adjustment (GIA) not applied) variation (mm) with respect to 20-year TOPEX/Jason collinear mean reference': 'GMSL_Not_Applied',
                                               'standard deviation of GMSL (GIA not applied) variation estimate (mm)': 'StDev_of_GMSL_Not_Applied',
                                               'standard deviation of GMSL (GIA applied) variation estimate (mm)': 'StDev_of_GMSL_Applied',
                                               'GMSL (Global Isostatic Adjustment (GIA) applied) variation (mm) )  with respect to 20-year mean': 'GMSL_Applied'})

new_sea_level_df

,Year,Number_of_Observations,GMSL_Not_Applied,StDev_of_GMSL_Not_Applied,StDev_of_GMSL_Applied,GMSL_Applied
0,1993.011526,466462,-37.24,92.66,92.66,-37.24
1,1993.038692,460889,-40.35,95.39,95.39,-40.34
2,1993.065858,472123,-40.17,92.29,92.29,-40.16
3,1993.093025,421377,-41.92,96.20,96.19,-41.89
4,1993.120191,459548,-36.89,94.64,94.63,-36.85
...,...,...,...,...,...,...
995,2020.052432,480291,44.99,97.91,100.91,52.41
996,2020.079524,288360,47.87,97.45,100.23,55.29
997,2020.106616,52754,41.19,100.84,103.30,49.06
998,2020.133708,476471,47.61,98.02,100.66,54.95
999,2020.160800,478893,46.98,97.86,100.46,54.50

In [9]:
#transforming dataset 3
zonal_annual_means_df = zonal_annual_means_df.rename(columns={"24N-90N": "Hem_24N_90N", "24S-24N": "Hem_24S_24N", "90S-24S":"Hem_90S_24S", "64N-90N":"Hem_64N_90N", "44N-64N":"Hem_44N_64N", "24N-44N":"Hem_24N_44N", "EQU-24N":"Hem_EQU_24N", "24S-EQU":"Hem_24S_EQU", "44S-24S":"Hem_44S_24S", "64S-44S":"Hem_64S_44S", "90S-64S":"Hem_90S_64S"})
zonal_annual_means_df.head()

,Year,Glob,NHem,SHem,Hem_24N_90N,Hem_24S_24N,Hem_90S_24S,Hem_64N_90N,Hem_44N_64N,Hem_24N_44N,Hem_EQU_24N,Hem_24S_EQU,Hem_44S_24S,Hem_64S_44S,Hem_90S_64S
0,1880,-0.16,-0.27,-0.05,-0.35,-0.13,-0.02,-0.80,-0.43,-0.26,-0.16,-0.10,-0.04,0.05,0.63
1,1881,-0.08,-0.16,0.00,-0.32,0.10,-0.07,-0.90,-0.40,-0.18,0.10,0.11,-0.05,-0.07,0.56
2,1882,-0.10,-0.19,-0.01,-0.28,-0.05,0.01,-1.40,-0.23,-0.11,-0.05,-0.05,0.01,0.04,0.59
3,1883,-0.16,-0.26,-0.07,-0.31,-0.16,-0.01,-0.18,-0.52,-0.22,-0.17,-0.15,-0.04,0.07,0.46
4,1884,-0.28,-0.41,-0.15,-0.58,-0.15,-0.14,-1.28,-0.62,-0.44,-0.13,-0.16,-0.19,-0.02,0.61

In [10]:
arctic_ice_csv = "assets/data/arcticiceminimum.csv"
arctic_ice_df = pd.read_csv(arctic_ice_csv)
arctic_ice_df

    year   mo      data-type   region   extent     area
0   1979    9        Goddard        N     7.05     4.58
1   1980    9        Goddard        N     7.67     4.87
2   1981    9        Goddard        N     7.14     4.44
3   1982    9        Goddard        N     7.30     4.43
4   1983    9        Goddard        N     7.39     4.70
5   1984    9        Goddard        N     6.81     4.11
6   1985    9        Goddard        N     6.70     4.23
7   1986    9        Goddard        N     7.41     4.72
8   1987    9        Goddard        N     7.28     5.64
9   1988    9        Goddard        N     7.37     5.36
10  1989    9        Goddard        N     7.01     4.86
11  1990    9        Goddard        N     6.14     4.55
12  1991    9        Goddard        N     6.47     4.51
13  1992    9        Goddard        N     7.47     5.43
14  1993    9        Goddard        N     6.40     4.58
15  1994    9        Goddard        N     7.14     5.13
16  1995    9        Goddard        N     6.08     4.43
17  1996    9        Goddard        N     7.58     5.62
18  1997    9        Goddard        N     6.69     4.89
19  1998    9        Goddard        N     6.54     4.30
20  1999    9        Goddard        N     6.12     4.29
21  2000    9        Goddard        N     6.25     4.35
22  2001    9        Goddard        N     6.73     4.59
23  2002    9        Goddard        N     5.83     4.03
24  2003    9        Goddard        N     6.12     4.05
25  2004    9        Goddard        N     5.98     4.39
26  2005    9        Goddard        N     5.50     4.07
27  2006    9        Goddard        N     5.86     4.01
28  2007    9        Goddard        N     4.27     2.82
29  2008    9        Goddard        N     4.69     3.26
30  2009    9        Goddard        N     5.26     3.76
31  2010    9        Goddard        N     4.87     3.34
32  2011    9        Goddard        N     4.56     3.21
33  2012    9        Goddard        N     3.57     2.41
34  2013    9        Goddard        N     5.21     3.78
35  2014    9        Goddard        N     5.22     3.74
36  2015    9        Goddard        N     4.62     3.42
37  2016    9        Goddard        N     4.53     2.91
38  2017    9        Goddard        N     4.82     3.35
39  2018    9        Goddard        N     4.79     3.35
40  2019    9        NRTSI-G        N     4.32     3.13

In [11]:
new_arctic_df = arctic_ice_df[['year', ' extent', '   area']]
new_arctic_df.head()

   year   extent     area
0  1979     7.05     4.58
1  1980     7.67     4.87
2  1981     7.14     4.44
3  1982     7.30     4.43
4  1983     7.39     4.70

In [12]:
new_arctic_df = new_arctic_df.rename(columns={'year': 'Year', ' extent': 'Extent', '   area': 'Area'})
new_arctic_df.head()

   Year  Extent  Area
0  1979    7.05  4.58
1  1980    7.67  4.87
2  1981    7.14  4.44
3  1982    7.30  4.43
4  1983    7.39  4.70

In [13]:
rds_connection_string = "postgres:5Skurlalane!@localhost:5432/climateChange"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [14]:
carbon_dioxide_df.columns

Index(['Year', 'Months', 'interpolated', 'Average', 'trend_season_corr'], dtype='object')

In [15]:
carbon_dioxide_df.to_sql(name='Carbon_Dioxide', con=engine, if_exists='replace', index=False)
new_sea_level_df.to_sql(name='Sea_Level', con=engine, if_exists='replace', index=False)
zonal_annual_means_df.to_sql(name='Zonal_Annual_Means', con=engine, if_exists='replace', index=False)
new_arctic_df.to_sql(name='Arctic_Ice', con=engine, if_exists='replace', index=False)

In [16]:
carbon_dioxide_df.count()

Year                 739
Months               739
interpolated         739
Average              739
trend_season_corr    739
dtype: int64